.developer {
  align-items: center;
  color: $base-grey;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-weight: 400;
  gap: 3px;
  justify-content: center;
  line-height: 16px;
  min-height: 16px;
}

.developer__text {
  margin: 0;
}

.developer__link {
  align-items: center;
  color: inherit;
  display: flex;
  gap: 4px;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    color: $base-primary;
    outline: 0;
  }

  &:active {
    color: $primary-darker;
  }
}
