.map {
  height: 420px;
  width: 100%;

  @media (min-width: $tablet) {
    height: 480px;
  }

  @media (min-width: $desktop) {
    height: 540px;
  }
}

.map__background {
  background: url("../../img/map.jpg") center/cover no-repeat;
  height: 100%;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}
